<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <script src="angular-1.4.8/angular.js"></script>
    <script src="angular-1.4.8/angular-route.js"></script>
    <script src="angular-1.4.8/angular-resource.js"></script>
</head>
<body ng-app="myApp" ng-controller="StudentCtrl">
    <div class="container">
        <h1  ng-hide="edit">Crete new student</h1>
        <h1  ng-show="edit">Edit student</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">firstName:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="firstName" placeholder="firstName" />

                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">lastName:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="lastName" placeholder="lastName" />

                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">email:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="email" placeholder="email" />

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">age:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="age" placeholder="age" />

                </div>
            </div>
        </form>
        <div class="form-group">
            <button class="btn col-sm-4" ng-click="addStudent()" ng-disabled="incomplete">
                <span class="glyphicon glyphicon-save"></span>修改
            </button>
        </div>
    </div>
    <script>
        angular.module('myApp', []).controller('StudentCtrl', function ($scope, $http) {

            $scope.firstName = '';
            $scope.lastName = '';
            $scope.email = '';
            $scope.age = '';
            $scope.Id=0;
            //是否编辑
            $scope.edit = false;
            //是否输入完成
            $scope.incomplete = false;
            //判断是否编辑，如编辑则初始化数据
            if (getParameterByName("id")!="")
            {
                $scope.edit = true;
                $scope.Id = getParameterByName("id");
                $http.get('http://localhost:29380/api/student/' + $scope.Id, {},
                  { languageColumn: 'name_eu' }, { 'Content-Type': 'application/x-www-form-urlencoded' }).success(function (data) {
                      $scope.firstName = data.firstName;
                      $scope.lastName = data.lastName;
                      $scope.email = data.email;
                      $scope.age = data.age;
                      $scope.incomplete = true;
                  });
               
               
            }
            // $scope.error = false;
            

            $scope.$watch('firstName', function () { $scope.test(); });
            $scope.$watch('lastName', function () { $scope.test(); });
            $scope.$watch('email', function () { $scope.test(); });
            $scope.$watch('age', function () { $scope.test(); });

            $scope.test = function () {

                $scope.incomplete = false;
                if (!$scope.firstName.length || !$scope.lastName.length || !$scope.email.length || !$scope.age.length) {
                    $scope.incomplete = true;
                }
            };
            


            //根据name获取url参数
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                var regexS = "[\\?&]" + name + "=([^&#]*)";
                var regex = new RegExp(regexS);
                var results = regex.exec(window.location.search);
                if (results == null)
                    return "";
                else
                    return decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            //提交，如果$scope.Id=0则是添加否则为更新
            $scope.addStudent = function () {
                if ($scope.Id == 0) {
                    add();
                }
                else
                {
                    update();
                }
               
            }
            //更新学生信息
            function update() {
                $http.put('http://localhost:29380/api/student', {
                    "Id":$scope.Id,
                    "firstName": $scope.firstName,
                    "lastName": $scope.lastName,
                    "email": $scope.email,
                    "age": $scope.age
                },
                   { languageColumn: 'name_eu' }, { 'Content-Type': 'application/x-www-form-urlencoded' }).success(function (data) {
                       //$scope.industries = data;
                       if (data) {
                           alert("更新成功");
                           location.href = "StudentList.html";
                       }
                       else {
                           alert("更新失败");
                       }
                   });
            }
            //调用api添加学生信息
            function add()
            {
                $http.post('http://localhost:29380/api/student', {
                    "firstName": $scope.firstName,
                    "lastName": $scope.lastName,
                    "email": $scope.email,
                    "age": $scope.age
                },
                   { languageColumn: 'name_eu' }, { 'Content-Type': 'application/x-www-form-urlencoded' }).success(function (data) {
                       //$scope.industries = data;
                       if (data.Id != 0) {
                           alert("添加成功");
                           location.href = "StudentList.html";
                       }
                       else {
                           alert("添加失败");
                       }
                   });
            }
        });
    </script>
</body>
</html>
